@use '@/_styles/abstracts' as *;

.header-container {
  border: 4px solid useTheme(greyScale7);
  background-color: useTheme(greyScale6);
  position: fixed;
  width: 100%;
  height: $header-height;
  top: 0;
  left: 0;
  @include displayFlex();
  gap: 30px;
  font-size: 18px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;

  img {
    height: 36px;
    background: #006c80;
    border-radius: 100%;
    border: 1px solid #006c80;
    box-shadow: inset 0 0 10px 3px #000021;
  }

  a {
    color: #00729b;
    font-family: NotoSansReg, serif;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid $cPrimaryBlue;
    padding-bottom: 4px;
    transition: none;

    &:hover {
      border-bottom: 3px solid $cPrimaryBlue;
    }
  }
}
