@use '@/_styles/abstracts' as *;

.header-container {
  border: 12px solid $cPrimaryDark;
  position: fixed;
  width: 100%;
  height: $header-height;
  top: 0;
  left: 0;
  @include displayFlex();
  gap: 20px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
